<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="connection.url"></property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>    
         
     
          
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        
        <!--Pool parameters with c3p0  -->
        
        <property name="hibernate.c3p0.min_size">2</property>
        <property name="hibernate.c3p0.max_size">3</property>
        <property name="hibernate.c3p0.acquire_increment">3</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.timeout">300</property>
        
        <!--Pool parameters with c3p0  -->
        
        <property name="show_sql">false</property>
<!--         <mapping resource="OBSERVATIONs_FACTs.hbm.xml"/> -->
<!--          <mapping resource="PatientDimension.hbm.xml"/> -->
<!--         <mapping resource="CONCEPTs_DIMENSIONs.hbm.xml"/> -->
<!--         <mapping resource="VISITs_DIMENSIONs.hbm.xml"/> -->
<!--         <mapping resource="PROVIDERs_DIMENSIONs.hbm.xml"/> -->
        
        <!-- <mapping class="com.javacodegeeks.snippets.enterprise.hibernate.model.Book"/> -->
        <mapping class="entity.PatientDimension"/>
        <mapping class="entity.ObservationFactDimension"/>
        <mapping class="entity.ConceptDimension"/>
        <mapping class="entity.VisitDimension"/>
   </session-factory>
</hibernate-configuration>